.search-active .search-popup {
    transform: scale(1);
}

.search-pop-overlay {
    background: rgba(0,0,0,0);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: visibility 0s linear 0.2s, background 0.2s;
    visibility: hidden;
    width: 100%;
    z-index: 1400;
  }
  .search-pop-overlay.search-active {
    background: rgba(0,0,0,0.3);
    transition: background 0.2s;
    visibility: visible;
  }
  .search-popup {
    background: var(--card-bg-color);
    border-radius: 5px;
    height: 80%;
    left: calc(50% - 350px);
    position: fixed;
    top: 15%;
    transform: scale(0);
    transition: transform 0.2s;
    width: 700px;
    z-index: 1500;
  }
  .search-active .search-popup {
    transform: scale(1);
  }
  @media (max-width: 767px) {
    .search-popup {
      border-radius: 0;
      height: 100%;
      left: 0;
      margin: 0;
      top: 10%;
      width: 100%;
    }
  }
  .search-popup .search-icon,
  .search-popup .popup-btn-close {
    color: #999;
    font-size: 18px;
    padding: 0 10px;
  }
  .search-popup .popup-btn-close {
    cursor: pointer;
  }
  .search-popup .popup-btn-close:hover .fa {
    color: #222;
  }
  .search-popup .search-header {
    background: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    padding: 5px;
  }
  .search-popup input.search-input {
    background: transparent;
    border: 0;
    outline: 0;
    width: 100%;
  }
  .search-popup input.search-input::-webkit-search-cancel-button {
    display: none;
  }
  .search-popup .search-input-container {
    flex-grow: 1;
    padding: 2px;
  }
  .search-popup ul.search-result-list {
    margin: 0 5px;
    padding: 0;
    width: 100%;
  }
  .search-popup p.search-result {
    border-bottom: 1px dashed #ccc;
    padding: 5px 0;
  }
  .search-popup a.search-result-title {
    font-weight: bold;
  }
  .search-popup .search-keyword {
    border-bottom: 1px dashed #ff2a2a;
    color: #ff2a2a;
    font-weight: bold;
  }
  .search-popup #search-result {
    display: flex;
    height: calc(100% - 55px);
    overflow: auto;
    padding: 5px 25px;
  }
  .search-popup #no-result {
    color: #ccc;
    margin: auto;
  }